<div class="jumbotron">
  <h1>Booking-Daddy</h1>
  <p>
    利用 Ruby + Rails + Rake 实现的简单预约处理中枢
  </p>
  <p>
    <a class="btn btn-lg btn-primary" href="https://github.com/syhsyh9696/library-seats-api">Project here</a>
  </p>

</div>
