<div class="container">
  <div class="jumbotron">
    <h1>Log page</h1>
    <p>Log pages are used to store performance and error data.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
  <br />
  <%= render 'table' %>
</div>